<div class="page form">
  <h3>Change admin password</h3>

  <%= form_for(@user, url: admin_path) do |f| %>

    <div class="field_group">
      <%= f.label :current_password, 'Current password' %><br />
      <%= f.password_field :current_password, required: true, autocomplete: "off", id: 'input_admin_current_password' %>
    </div>

    <div class="field_group">
      <%= f.label :password, 'New password' %><br />
      <%= f.password_field :password, required: true, autocomplete: "off", id: 'input_admin_password' %>
      <%= f.password_field :password_confirmation, required: true, autocomplete: "off", id: 'input_admin_password_confirmation', label: false, placeholder: 'Confirm new password' %>
    </div>

    <div class="field_group">
      <%= link_to 'Cancel', apps_path, class: :cancel %>
      <%= f.submit "Update", class: 'submit' %>
    </div>
  <% end %>

</div>
