<%= form_for @app do |f| %>
  <div class="field_group">
    <%= f.label :blueprint_url, 'Blueprint URL' %><br>
    <%= f.text_field :blueprint_url, required: true, type: :url, class: 'wide_field' %>
  </div>
  <div class="field_group">
    <%= f.label :label %><br>
    <%= f.text_field :label, required: true %>
    <hint>Human name.</hint>
  </div>
  <div class="field_group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'wide_field' %>
    <hint>Very brief summary of the app's purpose.</hint>
  </div>
  <div class="field_group">
    <%= f.label :icon %><br>
    <%= f.file_field :icon %>
    <hint>Should be square and at least 256px x 256px in size.</hint>
  </div>
  <div class="field_group">
    <%= f.label :website_url, 'Website' %><br>
    <%= f.text_field :website_url, type: :url, class: 'wide_field' %>
    <hint>URL for external homepage for the app.</hint>
  </div>
  <div class="field_group">
    <%= f.label :readme %><br>
    <%= f.text_area :readme, placeholder: 'Markdown', class: 'wide_field' %>
    <hint>Details of the app and its features.</hint>
  </div>
  <legend>Status</legend>
  <div class="field_group">
    <%= f.check_box :featured %>
    <%= f.label :featured %>
  </div>
  <div class="field_group">
    <%= f.check_box :published %>
    <%= f.label :published %>
  </div>
  <hr>
  <div class="field_group">
    <%= link_to 'Cancel', (@app.new_record? ? apps_path : app_path(@app)), class: :cancel %>
    <%= f.submit class: :submit %>
  </div>
<% end %>
