<!DOCTYPE html>
<html>
<head>
<title><%= Rails.application.config.application_title %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body style="color: <%= Rails.application.config.text_color %>; background-color: <%= Rails.application.config.background_color %>;">
<% if current_user %>
<div class="navbar clearfix">
  <div class="navbar_brand">
    <%= Rails.application.config.application_title %>
  </div>
  <div class="navbar_right">
  <%= link_to "Password".html_safe,
      edit_admin_path,
      class: 'button' %>
    <%=	link_to "Sign out".html_safe,
    	destroy_user_session_path,
      title: 'Sign out', class: 'button',
    	method: :delete %>
  </div>
</div>
<% end %>
<% if notice %><div class="flash_message notice"><%= notice %></div><% end %>
<% if alert %><div class="flash_message alert"><%= alert %></div><% end %>

<%= yield %>
</body>
</html>
